<h2 class="heading-large">Register for a developer account</h2>       
<p class="paragraph-text">Register for a developer account to start using our <a routerLink="/api-list">APIs</a> in your applications.</p>        
<p class="paragraph-text">Already registered? <a routerLink="/login">Sign in.</a></p>
            
<form class="form js-form" [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="govuk-form-group">
    <label class="govuk-label" for="emailAddress" id="emailAddress-label"> Email address  </label>              
    <input  type="text"             
            id="emailAddress"
            name="emailAddress"
            formControlName="emailAddress"
            value=""
            [ngClass]="{'input': true, 'input--error': f.emailAddress.touched && f.emailAddress.invalid}"
            aria-labelledby="emailAddress-label"        
            aria-required="true"/>
            
            <div *ngIf="f.emailAddress.touched && f.emailAddress.invalid" class="error-message">
              Email address is required
            </div>        

  </div>

  <div class="govuk-form-group">              
    <label  class="govuk-label" for="firstName" id="firstName-label"> First name </label>
    <input  type="text"             
            id="firstName"
            name="firstName"
            formControlName="firstName"
            value=""
            [ngClass]="{'input': true, 'input--error': f.firstName.touched && f.firstName.invalid}"            
            aria-labelledby="firstName-label"
            aria-required="true"/>

            <div *ngIf="f.firstName.touched && f.firstName.invalid" class="error-message">  
              First Name is required
            </div>  
  </div>

  <div class="govuk-form-group ">
    <label  class="govuk-label" for="lastName" id="lastName-label"> Last name </label>
    <input  type="text"
            id="lastName"
            name="lastName"
            formControlName="lastName"
            value=""
            [ngClass]="{'input': true, 'input--error': f.lastName.touched && f.lastName.invalid}"            
            aria-labelledby="lastName-label"
            aria-required="true"/>

            <div *ngIf="f.lastName.touched && f.lastName.invalid" class="error-message">  
              Last Name is required  
            </div>  
  </div>

  <div class="govuk-form-group">
    <label  class="govuk-label" for="organisation" id="organisation-label">Organisation (optional)</label>
    <input  type="text"
            id="organisation"
            name="organisation"
            value=""
            formControlName="organisation"
            class="input"
            aria-labelledby="organisation-label"
            aria-required="false"/>
  </div>

  <div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="password">Create password</label>
      <small></small>
      <input  type="password" 
              autocomplete="off"
              id="password"
              name="password"
              formControlName="password"
              [ngClass]="{'input': true, 'input--error': f.password.touched && f.password.invalid}"            
              class="input"
              aria-describedby="password-note"
              aria-required="true"
              pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" />
              <div *ngIf="f.password.touched && f.password.invalid" class="error-message">     
                Password is required   
              </div> 
              <div *ngIf="f.password.errors" class="error-message">
                  <div *ngIf="f.password.errors.minlength || f.password.errors.pattern">Your password must be at least 8 characters and contain at least one number, lowercase letter, uppercase letter and special character.</div>
              </div>
    </div>

    <div class="govuk-form-group">
      <label  class="govuk-label" for="confirmPassword">Confirm password</label>
      <input  type="password" 
              autocomplete="off"
              id="confirmPassword"
              name="confirmPassword"
              formControlName="confirmPassword"
              [ngClass]="{'input': true, 'input--error': f.confirmPassword.touched && f.confirmPassword.invalid}"
              aria-required="true" 
              pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"/>             
             <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="error-message">    
               Password Confirmation does not match password
            </div> 
    </div>
  </div>

  <div class="govuk-form-group">
      <button id="submitButton" class="hackney-button" type="submit" [disabled]="!registerForm.valid">Register</button>
  </div>
</form>