@import '../../../../styles.scss';

.nav__tabs {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 2rem 2rem;
}

.nav__tabs__list {
    
    flex-basis: 50% ;
    list-style-type: none;
    cursor: pointer;

}

.nav__tabs__list-item {
    display: inline-block;
    border-bottom: 3px solid transparent;
    padding-bottom: 3px;

    &:hover {
        border-bottom: 3px solid $hackney-green;
        color: $hackney-green;
    }
}

@media screen and (max-width: 640px) {
    .nav__tabs {
        padding: 0;

    }

    .nav__tabs__tab {
        padding: 0;
        
    }

    .nav__tabs__list-item {
        
    }
}

