<app-column-layout [show]="true">
  <h2 class="govuk-heading-l"> API Guide</h2>
  <ul>
    <li class="govuk-body"> Choose a technology that is most suitable for your API needs </li>
    <li class="govuk-body"> Create your API solution and push it to a GitHub repository </li>
    <p class="govuk-inset-text govuk-body-s"> Naming your API should be data specific</p>
    <li class="govuk-body"> Familiarize yourself with the <a class="govuk-link govuk-link--no-visited-state" href="https://github.com/LBHackney-IT/Hackney-Development-Standards">Hackney
        Development Standards</a></li>
    <li class="govuk-body"> Set up your project structure, including Swagger set up.</li>
    <li class="govuk-body"> Following the <a class="govuk-link govuk-link--no-visited-state" href="https://github.com/LBHackney-IT/API-Playbook">
        API Playbook </a> , start developing new endpoints while also having the Hackney Development Standards in mind</li>
    <li class="govuk-body"> While building a new endpoint, ensure you are submitting smaller, but frequent GitHub pull
      requests. It is essential that pull requests
      are short to ensure that other developers do not need to take a big part of their time reviewing your pull
      request.</li>
    <li class="govuk-body"> Always run your tests prior to submitting a Pull Request.</li>
    <li class="govuk-body"> Before merging any code, ensure pull request is approved by at least two other developers.</li>
    <li class="govuk-body"> As per the API playbook, ensure your API has Continous Integration set up as well as
      automated testing.</li>
    <li class="govuk-body"> Every new API endpoint needs to be documented following the White House standards in a
      GitHub Read me file.</li>
  </ul>
</app-column-layout>
