.paragraph-text {
    color: $hackney-black;
    font-family: $font-family;
    font-weight: 400;

    font-size: rem(18);
    line-height: 1.6;
    margin-top: 0;
    padding-bottom: $margin-bottom-text;

    &__small {
        font-size: rem(16);
    }
}

.heading-large {
    color: $hackney-black;
    font-size: rem(35);
    font-family: $font-family;
    font-weight: 700;
    margin-bottom: $margin-bottom-heading;
}

.heading-huge {
    color: $hackney-black;
    font-family: $font-family;
    font-size: rem(50);
    font-weight: 700;
    margin-bottom: $margin-bottom-heading;
}

.heading-medium {
    color: $hackney-black;
    font-size: rem(25);
    font-family: $font-family;
    font-weight: 700;
    margin-bottom: $margin-bottom-heading;
}

.heading-small {
    color: $hackney-black;
    font-size: rem(20);
    font-family: $font-family;
    font-weight: 700;
    margin-bottom: $margin-bottom-heading;
}

.hackney-link:visited {
    color: #4c2c92;
}
.hackney-link:link {
    text-decoration: underline;
    color: #005ea5;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.line-through {
    text-decoration: line-through;
  }

@media screen and (max-width: 740px) {
    
    .heading-huge {
        font-size: rem(36);
    }
}

@media screen and (max-width: 680px) {
    .heading-huge {
        font-size: rem(30);
    }

    .heading-large {
        font-size: rem(24);
    }
}
