@import "../../../../styles.scss";

.endpoint__content {

}

.endpoint__header {

}

.endpoint__text {
    margin: 2rem 0;
}

.endpoint__medium__tag {
    
}

.endpoint__medium__uri {
    margin: 0 2rem;
}

.endpoint__medium__box {
    display: flex;
    margin: 4rem 0;
}

.endpoint__table__title {

}

.endpoint__table__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 3rem 0;
}

.endpoint__table__row {
    display: flex;
    align-items: center;

    padding: 1.5rem 0;
    border-bottom: 1px solid $hackney-black;
}

.endpoint__table__column {
    flex-basis: 25%;
}

.endpoint__table__column--half {
    flex-basis: 50%;
}

@media screen and (max-width: 640px) {
    .endpoint__medium__box {
        align-items: flex-start;
        justify-content: flex-start;
    }
}