<app-column-layout [show]="apiEndpoint">
<section class="endpoint__content" *ngIf='apiEndpoint'>
  <h1 class="endpoint__header heading-large">{{ apiEndpoint?.title }}</h1>
  <p class="endpoint__text paragraph-text">{{ path?.summary }}</p>

  <h3 class="endpoint__medium__header heading-medium">Endpoint</h3>
  <div class="endpoint__medium__box">
    <div class="endpoint__medium__tag hackney-tag hackney-tag--status">{{ path?.requestType | uppercase }}</div>
    <div class="endpoint__medium__uri">
      <a class="heading-small">{{ path?.url }}</a>
    </div>
  </div>

  <div class="endpoint__table__title">
    <h3 class="heading-medium">Request Parameters</h3>
  </div>

  <div class="endpoint__table__box">
    <div class="endpoint__table__row heading-small">
      <div class="endpoint__table__column">Parameters</div>
      <div class="endpoint__table__column">In</div>
      <div class="endpoint__table__column">Required</div>
      <div class="endpoint__table__column">Value</div>
    </div>
    <div class="endpoint__table__row" *ngFor="let parameter of getParameters(path)">
        <div class="endpoint__table__column">{{parameter?.name}}</div>
        <div class="endpoint__table__column">{{parameter?.name}}</div>
        <div class="endpoint__table__column">{{parameter?.required}}</div>
        <div class="endpoint__table__column">{{parameter?.type}}</div>
      </div>
  </div>

  <div class="endpoint__table__box">
    <div class="endpoint__table__row heading-small">
      <div class="endpoint__table__column--half">Header Field</div>
      <div class="endpoint__table__column--half">Value</div>
    </div>
    <div class="endpoint__table__row">
      <div class="endpoint__table__column--half">Header Field</div>
      <div class="endpoint__table__column--half">Value</div>
    </div>
  </div>

  <h3 class="heading-medium">Example</h3>
  <p class="endpoint__example paragraph-text">curl -X {{ path?.requestType | uppercase }}  "https://example.com/ {{ path?.url }} -H "Authorization: Bearer"</p>

  <a routerLink="/documentation" class="hackney-button">← All Endpoints</a>
</section>
</app-column-layout>
