@import "../../../../styles.scss";

.endpoint__content {

}

.endpoint__header {

}

.endpoint__text {
    margin: rem(20) 0;
}

.endpoint__medium__tag {
    
}

.endpoint__medium__uri {
    margin: 0 rem(20);
    
    & a {
        color: $hackney-blue;
    }
}

.endpoint__medium__box {
    display: flex;
    margin: rem(40) 0;
}

.endpoint__table__title {

}

.endpoint__table__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: rem(30) 0;
}

.endpoint__table__row {
    display: flex;
    align-items: center;

    padding: rem(15) 0;
    border-bottom: 1px solid $hackney-black;
}

.endpoint__table__column {
    flex-basis: 25%;
}

.endpoint__table__column--half {
    flex-basis: 50%;
}

.endpoint__example {

}

@media screen and (max-width: 640px) {
    .endpoint__medium__box {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .endpoint__example {
        word-break: break-all;
    }

    .endpoint__medium__uri {
        word-break: break-all;
        width: 100%;
    }
}