@import "../../../../styles.scss";

.api-item-edit__box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem;
  border-bottom: 1px solid $hackney-black;

}

.api-item-edit__title {

}

.api-item-edit__link {

  &:visited, &:link {

  }
}