<div class="apiform__container">
  <h1 class="heading-large main-heading" *ngIf="!creating"> Editing {{ this.api?.title }} </h1>
  <h1 class="heading-large main-heading" *ngIf="creating">Creating API</h1>

  <div class="apiform__api">
    <a routerLink="/admin" class="hackney-button">←
      Back to Admin Page</a>

    <form class="apiform__api__form" [formGroup]="apiForm" (ngSubmit)="submitForm()">

      <h2 class="heading-medium"> General Details </h2>

      <div class="apiform__api__formgroup">
        <label class="apiform__api__label" for="title">
          Title
        </label>
        <input type="text" autocomplete="off" id="title" name="title" formControlName="title"
          [ngClass]="{'input': true, 'input--error': f.title.touched && f.title.invalid}" class="input"
          aria-required="true" />
        <div *ngIf="f.title.touched && f.title.invalid" class="error-message">
          Title is required
        </div>
      </div>

      <div class="apiform__api__formgroup">
        <label class="apiform__api__label" for="title">
          Summary
        </label>
        <!-- Replace textarea css -->
        <textarea class="textarea" id="summary" name="summary" formControlName="summary" rows="2" aria-required="true"
          [ngClass]="{'textarea': true, 'govuk-!-width-two-thirds': true, 'textarea--error': f.summary.touched && f.summary.invalid}"></textarea>
        <div *ngIf="f.summary.touched && f.summary.invalid" class="error-message">
          Summary is required
        </div>
      </div>

      <div class="apiform__api__formgroup">
        <label class="apiform__api__label" for="title">
          Description
        </label>
        <textarea class="textarea" id="description" name="description" formControlName="description" rows="5"
          aria-required="true"
          [ngClass]="{'textarea': true, 'govuk-!-width-two-thirds': true, 'textarea--error': f.description.touched && f.description.invalid}"></textarea>
        <div *ngIf="f.description.touched && f.description.invalid" class="error-message">
          Description is required
        </div>
      </div>

      <div class="apiform__api__form--formgroup">
        <h3 class="heading-medium"> Is this application internally or externally facing? </h3>
        <!-- Replace and create radio button and styling -->
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="internal" name="internal" type="radio" [value]="true"
              formControlName="internal">
            <label class="apiform__api__label govuk-radios__label" for="internal">
              <strong class="govuk-tag">
                Internal
              </strong>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="external" name="internal" type="radio" [value]="false"
              formControlName="internal">
            <label class="apiform__api__label govuk-radios__label" for="external">
              <strong class="govuk-tag">
                External
              </strong>
            </label>
          </div>
        </div>
      </div>
      <div class="apiform__api__form--formgroup">
        <h3 class="heading-medium"> What stage is this application in? </h3>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="stage_alpha" name="stage" type="radio" value="alpha"
              formControlName="stage">
            <label class="apiform__api__label govuk-radios__label" for="stage_alpha">
              <strong class="govuk-tag">
                Alpha
              </strong>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="external" name="stage" type="radio" value="beta"
              formControlName="stage">
            <label class="apiform__api__label govuk-radios__label" for="external">
              <strong class="govuk-tag">
                Beta
              </strong>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="external" name="stage" type="radio" value="live"
              formControlName="stage">
            <label class="apiform__api__label govuk-radios__label" for="external">
              <strong class="govuk-tag">
                Live
              </strong>
            </label>
          </div>
        </div>
        <div *ngIf="f.stage.touched && f.stage.invalid" class="error-message">
          Stage is required
        </div>
      </div>

      <div formGroupName="compliant" class="apiform__api__form--formgroup">
        <h3 class="heading-medium"> Compliancy </h3>

        <div class="govuk-checkboxes__item" *ngFor="let compliancyObject of generateCompliancyObjects()">
          <input class="govuk-checkboxes__input" id="{{compliancyObject.id}}" name="{{compliancyObject.id}}"
            type="checkbox" formControlName="{{compliancyObject.id}}">
          <label class="apiform__api__label govuk-checkboxes__label" for="{{compliancyObject.id}}">
            {{ compliancyObject.text }}
          </label>
        </div>
      </div>

      <div class="apiform__api__form--formgroup" formGroupName="staging">
        <h3 class="heading-medium"> Staging</h3>
        <div class="apiform__api__form--formgroup">
          <label class="apiform__api__label" for="url">
            Base URL
          </label>
          <input type="url" autocomplete="off" id="url" name="url" formControlName="url"
            [ngClass]="{'input': true, 'govuk-!-width-two-thirds': true, 'input--error': f.staging.controls.url.touched && f.staging.controls.url.invalid}"
            class="input" aria-required="true" />
          <div *ngIf="f.staging.controls.url.touched && f.staging.controls.url.invalid" class="error-message">
            Production Base URL is required
          </div>
        </div>

        <div class="apiform__api__form--formgroup">
          <label class="apiform__api__label" for="url">
            Swagger JSON URL
          </label>
          <input type="swagger_url" autocomplete="swagger_url" id="swagger_url" name="swagger_url"
            formControlName="swagger_url"
            [ngClass]="{'input': true, 'govuk-!-width-two-thirds': true, 'input--error': f.staging.controls.swagger_url.touched && f.staging.controls.swagger_url.invalid}"
            class="input" aria-required="true" />
          <div *ngIf="f.staging.controls.swagger_url.touched && f.staging.controls.swagger_url.invalid"
            class="error-message">
            Production Swagger URL is required
          </div>
        </div>

        <div class="apiform__api__form--formgroup">
          <h3 class="heading-small"> Has this application been deployed? </h3>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="staging_deployed_true" type="radio" [value]="true"
                formControlName="deployed">
              <label class="apiform__api__label govuk-radios__label" for="staging_deployed_true">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="staging_deployed_false" type="radio" [value]="false"
                formControlName="deployed">
              <label class="apiform__api__label govuk-radios__label" for="staging_deployed_false">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="apiform__api__form--formgroup" formGroupName="production">
        <h3 class="heading-medium"> Production </h3>
        <div class="apiform__api__form--formgroup">
          <label class="apiform__api__label" for="url">
            Base URL
          </label>
          <input type="url" autocomplete="off" id="url" name="url" formControlName="url"
            [ngClass]="{'input': true, 'govuk-!-width-two-thirds': true, 'input--error': f.production.controls.url.touched && f.production.controls.url.invalid}"
            class="input" aria-required="true" />
          <div *ngIf="f.production.controls.url.touched && f.production.controls.url.invalid" class="error-message">
            Production Base URL is required
          </div>
        </div>

        <div class="apiform__api__form--formgroup">
          <label class="apiform__api__label" for="url">
            Swagger JSON URL
          </label>
          <input type="swagger_url" autocomplete="swagger_url" id="swagger_url" name="swagger_url"
            formControlName="swagger_url"
            [ngClass]="{'input': true, 'govuk-!-width-two-thirds': true, 'input--error': f.production.controls.swagger_url.touched && f.production.controls.swagger_url.invalid}"
            class="input" aria-required="true" />
          <div *ngIf="f.production.controls.swagger_url.touched && f.production.controls.swagger_url.invalid"
            class="error-message">
            Production Swagger URL is required
          </div>
        </div>

        <div class="apiform__api__form--formgroup">
          <h3 class="heading-small"> Has this application been deployed? </h3>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deployed_true" name="deployed" type="radio" [value]="true"
                formControlName="deployed" aria-required="true" />
              <label class="apiform__api__label govuk-radios__label" for="deployed_true">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deployed_false" name="deployed" type="radio" [value]="false"
                formControlName="deployed">
              <label class="apiform__api__label govuk-radios__label" for="deployed_false">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="apiform__api__form--formgroup">
        <label class="apiform__api__label" for="github_url">
          GitHub URL
        </label>
        <input type="github_url" autocomplete="off" id="github_url" name="github_url" formControlName="github_url"
          [ngClass]="{'input': true, 'govuk-!-width-two-thirds': true, 'input--error': f.github_url.touched && f.github_url.invalid}"
          class="input" aria-required="true" />

        <div *ngIf="f.github_url.touched && f.github_url.invalid" class="govuk-error-message">
          GitHub URL is required
        </div>
      </div>

      <div class="apiform__api__form--formgroup" formGroupName="owner">
        <h3 class="heading-medium"> Owners </h3>
        <div class="apiform__api__form--formgroup" formGroupName="technical">
          <h4 class="heading-small"> Technical </h4>
          <div class="apiform__api__form--formgroup">
            <label class="apiform__api__label" for="name">
              Name
            </label>
            <input type="text" autocomplete="off" id="name" name="name" formControlName="name"
              [ngClass]="{'input': true, 'govuk-!-width-two-thirds': true, 'input--error': f.owner.controls.technical.controls.name.touched && f.owner.controls.technical.controls.name.invalid}"
              class="input" aria-required="true" />
            <div
              *ngIf="f.owner.controls.technical.controls.name.touched && f.owner.controls.technical.controls.name.invalid"
              class="govuk-error-message">
              Technical Owner's name is required
            </div>
          </div>
          <div class="apiform__api__form--formgroup">
            <label class="apiform__api__label" for="contactDetails">
              Email
            </label>
            <input type="text" autocomplete="off" id="contactDetails" name="contactDetails"
              formControlName="contactDetails"
              [ngClass]="{'input': true, 'govuk-!-width-two-thirds': true, 'input--error': f.owner.controls.technical.controls.contactDetails.touched && f.owner.controls.technical.controls.contactDetails.invalid}"
              class="input" aria-required="true" />
            <div
              *ngIf="f.owner.controls.technical.controls.contactDetails.touched && f.owner.controls.technical.controls.contactDetails.invalid"
              class="govuk-error-message">
              Technical Owner's email is required
            </div>
          </div>
        </div>

        <div class="apiform__api__form--formgroup" formGroupName="product">
          <h4 class="heading-small"> Product </h4>
          <div class="apiform__api__form--formgroup">
            <label class="apiform__api__label" for="name">
              Name
            </label>
            <input type="text" autocomplete="off" id="name" name="name" formControlName="name"
              [ngClass]="{'input': true, 'govuk-!-width-two-thirds': true, 'input--error': f.owner.controls.product.controls.name.touched && f.owner.controls.product.controls.name.invalid}"
              class="input" aria-required="true" />
            <div
              *ngIf="f.owner.controls.product.controls.name.touched && f.owner.controls.product.controls.name.invalid"
              class="govuk-error-message">
              Product Owner's name is required
            </div>
          </div>
          <div class="apiform__api__form--formgroup">
            <label class="apiform__api__label" for="name">
              Email
            </label>
            <input type="text" autocomplete="off" id="contactDetails" name="contactDetails"
              formControlName="contactDetails"
              [ngClass]="{'input': true, 'govuk-!-width-two-thirds': true, 'input--error': f.owner.controls.product.controls.contactDetails.touched && f.owner.controls.product.controls.contactDetails.invalid}"
              class="input" aria-required="true" />
              <div
              *ngIf="f.owner.controls.product.controls.contactDetails.touched && f.owner.controls.product.controls.contactDetails.invalid"
              class="govuk-error-message">
              Product Owner's email is required
            </div>
          </div>
        </div>
      </div>

      <div class="apiform__api__form--formgroup">
        <button id="submitButton" class="hackney-button" type="submit" [disabled]="!apiForm.valid">Submit your
          changes</button>
      </div>
    </form>
  </div>
