@import '../../../../variables';

a:link {
    text-decoration: none;
  }

  .green-background {
    background-color:	#006435 !important;
  }

  .red-background {
    background-color: #b10e1e !important;
  }

  .post-background {
    background-color: #ffbf47 !important;
  }

  .endpoints:hover {
    background-color: #c9d3cea1;
  }

  .align-right {
    text-align: right;
  }

