<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row" (click)="toggleDescription()">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
          {{swaggerInfoItem.name}}
        </h3>
      </div>
      <div class="govuk-grid-column-one-third align-right">
        <strong class="govuk-tag">
          {{ getNumberOfEndpoints()}} Endpoints
        </strong>
      </div>
    </div>



    <div class="govuk-grid-row" *ngIf="showDescription">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Method</th>
            <th class="govuk-table__header" scope="col">Endpoint</th>
            <th class="govuk-table__header" scope="col">Summary</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" *ngFor="let path of swaggerInfoItem.paths">
            <th class="govuk-table__header" scope="row">    
              <strong class="govuk-tag">
                  {{ getRequestType(path) | uppercase }}
              </strong>
            </th>
            <td class="govuk-table__cell govuk-caption-m">{{getApiName(path)}}</td>
            <td class="govuk-table__cell">Summary</td>
          </tr>

          <!-- <app-swagger-endpoint-path *ngFor="let path of swaggerInfoItem.paths" [swaggerPath]="path"></app-swagger-endpoint-path> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
