<div class="documentation" *ngIf='api'>
  <div class="documentation__accordion">
    <div
      class="documentation__accordion-container"
      *ngIf="api.paths.length"
      (click)="toggleDescription()"
    >
      <div class="documentation__accordion-title">
        <h3 class="heading-medium api-panel">
          <a class="documentation__apis__title">
            {{ api.title }}
          </a>
        </h3>
      </div>
      <div class="documentation__accordion-endpoints">
        <strong class="heading-small api-panel">
          {{ api.paths.length }} Endpoints
        </strong>
      </div>
    </div>

    <div class="documentation__apis" *ngIf="showDescription">
      <div class="documentation__apis__api" *ngFor="let endpoint of api.paths">
        <div class="documentation__apis__api-endpoint">
          <a class="documentation__apis__api-endpoint-link" routerLink="/{{ api.id }}/endpoints/{{ endpoint.id }}">
            {{ endpoint.url }}
          </a>
        </div>
        <div class="documentation__apis__api-request">
          <strong
            class="hackney-tag"
            [ngClass]="{
              'get-request': endpoint.requestType.toLowerCase() === 'get',
              'post-request': endpoint.requestType.toLowerCase() === 'post',
              'put-patch-request': endpoint.requestType.toLowerCase() === 'put',
              'delete-request': endpoint.requestType.toLowerCase() === 'delete'
            }"
          >
            {{ endpoint.requestType }}
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>
