@import '../../../../variables';

.govuk-panel {
  padding: 15px;
  align-content: center;
    &--positive {
      border: 5px solid  $hackney-green;
    }
  
    &--negative {
      // background: red;
      border: 5px solid red;
    }  
}