@import '../../../../styles.scss';

.alert__banner {
  text-align: center;
  padding: 2rem;
  border: 4px solid transparent;
  margin: 4rem 0;

  &--positive {
    border: 4px solid $hackney-green;
  }

  &--error {
    border: 4px solid $hackney-error;
  }
  
}

.alert__banner__text {
  color: $hackney-black;
}

.paragraph__text {
  padding-bottom: 0;
}

@media screen and (min-width: 740px) {
  .alert__banner {
    margin: 2rem 0;
  }
}