@import '../../../../styles.scss';

.api__content {
  display: flex;
  flex-direction: column;
  align-items: space-between;

  font-family: inherit;
}

.api__table {
  padding: rem(25) rem(25);
  border: 1px solid $hackney-black;
  margin-bottom: rem(40);
}

.api__table__header {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  // border-bottom: 1px solid $hackney-black;
  // padding: 2.5rem 0;


  &__tags {
    display: flex;
    align-items: flex-start;

    & p:first-child {
      margin-right: rem(5);
    }
  }
}

.api__table__body {

  display: flex;
  flex-direction: column;


  &__row {
    display: flex;
    justify-content: space-between;
    align-content: center;

    padding-top: rem(25);

    // &:not(:last-child) {
    //   border-bottom: 1px solid $hackney-black;
    //   padding-bottom: 2.5rem;
    // }

  }

  &--column1 {
  }

  &--column2 {
    text-align: right;

    & p:first-child {
      margin-right: rem(5);
    }
  }

  &__title {
    font-weight: 700;
  }

  &__section {
    border-bottom: 1px solid $hackney-black;
    padding-bottom: rem(25);
  }

}

.api__details {

  &__overview {
    margin-bottom: rem(40);
  }

  &__compliance {
    margin-bottom: rem(40);
  }

  &__compliance__header {
    display: flex;
    justify-content: space-between;
  }

  &__compliance__title {

  }

  &__compliance__tag {
    margin-top: rem(13);
  }

  &__compliance__text {

  }

  &__compliance__list {

  }

}

.api-page__button {
  display: inline-block;
  align-self: flex-start;
}

@media screen and (max-width: 640px) {
  .api__table__header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .api__table__body__row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .api__table__body--column2 {
    text-align: left;
    width: 100%;
    & a {
      width: 100%;
      display: inline-block;
      word-break: break-all;
    }
  }

  .api__details__overview {
    margin-bottom: rem(15);
  }
}

.api__table__body__link {
  text-decoration: none;
  font-family: inherit;
  font-size: rem(16);
  font-weight: 600;
  color: $hackney-blue;

  &:link, 
  &:visited {
  text-decoration: none;
  }

  &:hover{
    text-decoration: underline;
  }
}