<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ api.title }}</h1>
  </div>
  <div class="govuk-grid-column-one-third align-right">
    <h1 class="govuk-tag govuk-tag--{{checkIfApiIsCompliant(api) ? 'negative' : 'positive' }}"> {{checkIfApiIsCompliant(api) ? 'Non Compliant' : 'Compliant' }} </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" *ngIf='isStagingAvailiable()'>
          <th class="govuk-table__header" scope="row">Available in Staging</th>
          <td class="govuk-table__cell">{{ isStagingAvailiable() ? "Yes" : "No"}}</td>
        </tr>
        
        <tr class="govuk-table__row" *ngIf='isStagingAvailiable()'>
          <th class="govuk-table__header" scope="row">Staging Base URL</th>
          <td class="govuk-table__cell">{{ api.staging.url }}</td>
        </tr>

        <tr class="govuk-table__row" *ngIf='isProductionAvailiable()'>
          <th class="govuk-table__header" scope="row">Available in Production</th>
          <td class="govuk-table__cell">{{ isProductionAvailiable() ? "Yes" : "No"}}</td>
        </tr>

        <tr class="govuk-table__row" *ngIf='isProductionAvailiable()'>
          <th class="govuk-table__header" scope="row">Production Base URL</th>
          <td class="govuk-table__cell">{{ api.production.url }}</td>
        </tr>
        
        <tr class="govuk-table__row" *ngIf="api.github_url">
          <th class="govuk-table__header" scope="row">GitHub URL</th>
          <td class="govuk-table__cell">{{api.github_url }}</td>
        </tr>

        <tr class="govuk-table__row" *ngIf="api.github_url">
          <th class="govuk-table__header" scope="row">API Key</th>
          <td class="govuk-table__cell"> 
            {{ apiKey ? apiKey : "Request Below" }}
            <h1 class="govuk-tag govuk-tag--{{verified ? 'positive' : 'negative' }}"> {{verified ? 'Verified' : 'Not Verified' }} </h1>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">        
    <a class="govuk-button" (click)="requestAPIKey()" type="button">Request API-Key</a>    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l"> Overview</h3>
    <p class="govuk-body"> {{ api.description }} </p>
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-l"> Compliancy</h3>
      <p class="govuk-body"> Compliancy Info </p>
    </div>  
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l"> Compliancy</h3>
    <p class="govuk-body"> Compliancy Info </p>
  </div>  
</div>