<app-column-layout [show]="api">

  <div class="api__content" *ngIf='api'>

    <div class="api__table">

      <div class="api__table__header">
        <div class="api__table__header__title">
          <h1 class="heading-large">{{ api?.title }}</h1>
        </div>
        <div class="api__table__header__tags">
          <p class="hackney-tag hackney-tag--status">{{ api?.internal ? 'Internal' : 'External'}}</p>
          <p class="hackney-tag hackney-tag--status">{{ api?.stage }}</p>
        </div>
      </div>

      <div class="govuk-accordion" data-module="accordion" id="accordion-default">
        <!-- Development -->
        <app-accordion-section *ngIf="api.development" [title]="'Development'" [display]="isDeployed('development')"
          [stage]="api.development" [api]="api"></app-accordion-section>
        <!-- Staging -->
        <app-accordion-section *ngIf="api.staging" [title]="'Staging'" [display]="isDeployed('staging')"
          [stage]="api.staging" [api]="api"></app-accordion-section>
        <!-- Production -->
        <app-accordion-section *ngIf="api.production" [title]="'Production'" [display]="isDeployed('production')"
          [stage]="api.production" [api]="api"></app-accordion-section>
      </div>
      
      <div class="api__table__body">
        <!-- Github -->
        <div class="api__table__body__row" *ngIf="api.github_url">
          <div class="api__table__body--column1">
            <p class="api__table__body__title">Github URL</p>
          </div>
          <div class="api__table__body--column2">
            <a class="api__table__body__link ">{{api.github_url }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="api__details" *ngIf='api'>
      <div class="api__details__overview">
        <h3 class="heading-large"> Overview</h3>
        <p class="paragraph-text"> {{ api?.description }} </p>
      </div>
      <div class="api__details__compliance">
        <div class="api__details__compliance__header">
          <div class="api__details__compliance__title">
            <h3 class="heading-large"> Is it compliant?</h3>
          </div>

          <div class="api__details__compliance__tag">
            <h3 class="hackney-tag hackney-tag--{{isCompliant() ? 'negative' : 'positive' }}"> {{isCompliant() ? 'Non
              Compliant' : 'Compliant' }} </h3>
          </div>
        </div>
        <div class="api__details__compliance__text">
          <ul class="api__details__compliance__list">
            <li *ngFor="let compliancy of generateCompliancyText()" [class.line-through]="!compliancy.compliant">
              {{compliancy.text}} </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="api__owner" *ngIf='api'>
      <div class="api__owner__content">
        <h3 class="heading-medium"> Product Owner</h3>
        <p class="paragraph-text"> Name: {{api.owner.product.name}} </p>
        <p class="paragraph-text"> Email: {{api.owner.product.contactDetails}} </p>

        <h3 class="heading-medium"> Technical Owner</h3>
        <p class="paragraph-text"> Name: {{api.owner.technical.name}} </p>
        <p class="paragraph-text"> Email: {{api.owner.technical.contactDetails}} </p>
      </div>
    </div>
  </div>

  <a routerLink="/documentation" class="hackney-button api-page__button">← Return to API Endpoints</a>
</app-column-layout>
