<div class="govuk-grid-row">
  <div class="govuk-grid-colum">
    <h1 class="govuk-heading-xl">{{ api.title }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <tbody class="govuk-table__body">

        
        <tr class="govuk-table__row" *ngIf="isDeployed('staging')">
          <th class="govuk-table__header" scope="row">Staging Base URL</th>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state">{{ api.staging.url }}</a></td>
        </tr>

        <tr class="govuk-table__row" *ngIf="isDeployed('staging')">
            <th class="govuk-table__header" scope="row">Available in Staging</th>
            <td class="govuk-table__cell">
              <h1 class="govuk-tag govuk-!-margin-right-1 govuk-tag--{{isDeployed('staging') ? 'positive' : 'negative' }}"> {{isDeployed('staging') ? 'Yes' : 'No' }} </h1>
              <h1 class="govuk-tag govuk-tag--{{isHealthy('staging') ? 'positive' : 'negative' }}"> {{isHealthy('staging') ? 'Healthy' : 'Not Healthy' }} </h1>
            </td>
          </tr>



        <tr class="govuk-table__row" *ngIf="isDeployed('production')">
          <th class="govuk-table__header" scope="row">Production Base URL</th>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state">{{ api.production.url }}</a></td>
        </tr>

        <tr class="govuk-table__row" *ngIf="isDeployed('production')">
            <th class="govuk-table__header" scope="row">Available in Production</th>
            <td class="govuk-table__cell">
                <h1 class="govuk-tag govuk-!-margin-right-1 govuk-tag--{{isDeployed('production') ? 'positive' : 'negative' }}"> {{isDeployed('production') ? 'Yes' : 'No' }} </h1>
                <h1 class="govuk-tag govuk-tag--{{isHealthy('production') ? 'positive' : 'negative' }}"> {{isHealthy('production') ? 'Healthy' : 'Not Healthy' }} </h1>
            </td>
          </tr>
        
        <tr class="govuk-table__row" *ngIf="api.github_url">
          <th class="govuk-table__header" scope="row">GitHub URL</th>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state">{{api.github_url }}</a></td>
        </tr>

        <tr class="govuk-table__row" *ngIf="api.github_url">
          <th class="govuk-table__header" scope="row"> API Key</th>
          <td class="govuk-table__cell"> 
              <a class="govuk-link govuk-link--no-visited-state">{{ apiKey ? apiKey : "Request Below" }}</a>
            <h1 *ngIf="verified != null" class="govuk-tag govuk-!-margin-left-1 govuk-tag--{{verified ? 'positive' : 'negative' }}"> {{verified ? 'Verified' : 'Not Verified' }} </h1>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">        
    <a class="govuk-button" (click)="requestAPIKey()" type="button">Request API-Key</a>    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l"> Overview</h3>
    <p class="govuk-body"> {{ api.description }} </p>
  </div>
</div>

<div class="govuk-grid-row">
        
  <div class="govuk-grid-column-two-thirds">      
    <h3 class="govuk-heading-l"> Compliancy</h3>   
  </div>
        
  <div class="govuk-grid-column-one-third">          
    <h3 class="govuk-tag govuk-tag--{{isCompliant() ? 'negative' : 'positive' }}"> {{isCompliant() ? 'Non Compliant' : 'Compliant' }} </h3> 
  </div>
  <div class="govuk-grid-column-full">  
      <ul class="govuk-list govuk-list--bullet">
        <li *ngFor="let compliancy of generateCompliancyText()" [class.line-through] = "!compliancy.compliant">  {{compliancy.text}} </li>
      </ul>       
  </div>

</div>


<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Contact Details
      </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body-m"> Name: {{api.owner.name}} </p>
        <p class="govuk-body-m"> Email: {{api.owner.contactDetails}} </p>
    </div>
  </details>