@import '../../../../variables';
// ** {
//   word-wrap: break-word;
// }
.govuk-tag {
    &--positive {
      background: $hackney-green;
    }
  
    &--negative {
      background: orange;
    }  
}

.line-through {
  text-decoration: line-through;
}