<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Email</th>
        <th class="govuk-table__header" scope="col">API</th>
        <th class="govuk-table__header" scope="col">Verified</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">thomas.lawanson@email.com</th>
        <td class="govuk-table__cell">Income Collection API</td>
        <td class="govuk-table__cell">    
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-radios">      
                    <div class="govuk-radios__item">      
                      <input class="govuk-radios__input" name="where-do-you-live" type="radio" value="verified">    
                    </div>    
                  </div>    
            </fieldset>
          </div>
        </td>
      </tr>
    </tbody>
  </table>




  

