<h2 class="govuk-heading-l">Change password</h2>
<p class="govuk-body">Please enter your new password </p>
<p class="govuk-inset-text">Your password must be at least 8 characters and contain at least one number, lowercase letter, uppercase letter and special character.</p>

<form class="form js-form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
<div >
  <div class="govuk-form-group">
      <label class="govuk-label" for="password">
          Enter Password
      </label>
      <input type="password" autocomplete="off"
             id="password"
             name="password"
             class="govuk-input"
             aria-describedby="password-note"
             aria-required="true"/>
  </div>
</div>

<div >
  <div class="govuk-form-group">
      <label class="govuk-label" for="password">
          Confirm your password
      </label>
      <input type="password" autocomplete="off"
             id="confirmpassword"
             name="confirmpassword"
             class="govuk-input"
             aria-describedby="password-note"
             aria-required="true"/>
      <a href="../index.html" class="govuk-back-link">Return to homepage</a>
  </div>
</div>

  <div class="govuk-form-group">
      <button id="submitButton" class="govuk-button" type="submit">Change your password</button>
  </div>
</form>