<h2 class="heading-large">Change password</h2>
<p class="paragraph-text">Please enter your new password </p>
<p class="govuk-inset-text">Your password must be at least 8 characters and contain at least one number, lowercase letter, uppercase letter and special character.</p>

<form class="form js-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <div class="govuk-form-group">
      <label class="govuk-label" for="password">
          Enter Password
      </label>
      <input type="password" autocomplete="off"
             id="password"
             name="password"
             formControlName="password"
            [ngClass]="{'input': true, 'input--error': f.password.touched && f.password.invalid}"            
             aria-describedby="password-note"
             aria-required="true"/>
             
             <div *ngIf="f.password?.touched && f.password.invalid" class="error-message">             
                Password is required      
            </div> 
                  
            <div *ngIf="f.password?.errors" class="error-message">
                <div *ngIf="f.password.errors.minlength">Your password must be at least 8 characters and contain at least one number, lowercase letter, uppercase letter and special character.</div>   
            </div>
  </div>


  <div class="govuk-form-group">
      <label class="govuk-label" for="password">
          Confirm your password
      </label>
      <input type="password" autocomplete="off"
             id="confirmPassword"
             name="confirmPassword"
             formControlName="confirmPassword"             
            [ngClass]="{'input': true, 'input--error': f.confirmPassword.touched && f.confirmPassword.invalid}"            
            class="input"
             aria-describedby="password-note"
             aria-required="true"/>

             <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="error-message">      
                Confirmed password does not match password        
            </div> 
      <a routerLink="/" class="govuk-back-link">Return to homepage</a>
  </div>


  <div class="govuk-form-group">
      <button id="submitButton" class="hackney-button" type="submit" [disabled]="!changePasswordForm.valid">Change your password</button>
  </div>
</form>