<h2 class="heading-large">Change password</h2>
<p class="paragraph-text">Please enter your new password</p>
<p class="paragraph-text">
  Your password must be at least 8 characters and contain at least one number,
  lowercase letter, uppercase letter and special character.
</p>

<form
  class="changepassword__form"
  [formGroup]="changePasswordForm"
  (ngSubmit)="changePassword()"
>
  <label class="paragraph text" for="password">
    Enter Password
  </label>
  <input
    type="password"
    autocomplete="off"
    id="password"
    name="password"
    formControlName="password"
    [ngClass]="{
      input: true,
      'input--error': f.password.touched && f.password.invalid
    }"
    aria-describedby="password-note"
    aria-required="true"
  />

  <div *ngIf="f.password.touched && f.password.invalid" class="error-message">
    Password is required
  </div>

  <div *ngIf="f.password.errors" class="error-message">
    <div *ngIf="f.password.errors.minlength">
      Your password must be at least 8 characters and contain at least one
      number, lowercase letter, uppercase letter and special character.
    </div>
  </div>

  <label class="paragraph text" for="password">
    Confirm your password
  </label>
  <input
    type="password"
    autocomplete="off"
    id="confirmPassword"
    name="confirmPassword"
    formControlName="confirmPassword"
    [ngClass]="{
      input: true,
      'input--error': f.confirmpassword.touched && f.confirmpassword.invalid
    }"
    class="input"
    aria-describedby="password-note"
    aria-required="true"
  />

  <div
    *ngIf="f.confirmpassword.touched && f.confirmpassword.invalid"
    class="error-message"
  >
  Confirmed password does not match password
  </div>

  <div class="button__group">

    <button
      id="submitButton"
      class="hackney-button"
      type="submit"
      [disabled]="!changePasswordForm.valid"
    >
      Change your password
    </button>

    <a routerLink="/" class="hackney-button">Return to homepage</a>
  </div>
</form>
