<app-column-layout [show]="true">
    <h2 class="heading-large">Key Manager</h2>
                
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">API</th>
          <th class="govuk-table__header" scope="col">API-Key</th>
    
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row" *ngFor="let key of apiKeys">
          <th class="govuk-table__header" scope="row">{{key.api.title}}</th>
          <td class="govuk-table__cell">
            <app-click-reveal *ngIf="key.apiKey" [apiKey]="key.apiKey"></app-click-reveal>
          </td>
        </tr>
      </tbody>
    </table>
</app-column-layout>

