@import '../../../../styles.scss';

.govuk-table .govuk-button {
    margin-bottom: 0;
}

@media screen and (max-width: 640px) {
    .govuk-table__head {
        display: none;
    }

    td:last-child {
        border-bottom: 1px solid $hackney-light-grey;
        margin-bottom: rem(10);
    }

    .govuk-table__cell {
        border-bottom: 0;
        display: block;
        padding: 3px 0;

        &:before {
            content: attr(data-label);
            display: inline-block;
            font-weight: bold;
            width: rem(50);
        }

        &--no-header {
            border-bottom: 1px solid $hackney-light-grey;
            margin-bottom: rem(10);
        }

        &--no-header:before {
            content: none;
        }
    }

    .govuk-table .govuk-button {
        margin-bottom: rem(10);
    }
}