<div class="api__table__body__section" *ngIf="display">
    <div class="api__table__body__environment-name">
      <p class="heading-medium"> {{ title }} </p>
    </div>
    <div class="api__table__body__row">
      <div class="api__table__body--column1">
        <p class="api__table__body__title">Base URL</p>
      </div>
      <div class="api__table__body--column2">
        <a class="api__table__body__link">{{ stage?.url }}</a>
      </div>
    </div>

    <div class="api__table__body__row" *ngIf="api">
      <div class="api__table__body--column1">
        <p class="api__table__body__title">Available in {{ title }}</p>
      </div>
      <div class="api__table__body--column2">
        <p class="hackney-tag hackney-tag--{{api && stage.deployed ? 'positive' : 'negative' }}">
          {{stage?.deployed ? 'Yes' : 'No' }} </p>
        <p class="hackney-tag hackney-tag--{{api && stage.healthStatus ? 'positive' : 'negative' }}">
          {{stage?.healthStatus ? 'Healthy' : 'Not Healthy' }} </p>
      </div>
    </div>
    <div *ngIf="isLoggedIn() && api && apiKeyCallMade">
      <div class="api__table__body__row" *ngIf="hasApiKey()">
        <div class="api__table__body--column1">
          <p class="api__table__body__title">API Key</p>
        </div>
        <div class="api__table__body--column2">
          <app-click-reveal [apiKey]="apiKey.value"></app-click-reveal>
          <p class="hackney-tag hackney-tag--{{apiKey?.verified ? 'positive' : 'negative' }}">
            {{apiKey?.verified ? 'Verified' : 'Not Verified' }}
          </p>
        </div>
      </div>

      <div class="api__table__body__row" *ngIf='!hasApiKey()'>
        <div class="api__table__body--column1">
          <p class="api__table__body__title">API Key</p>
        </div>
        <div class="api__table__body--column2">
          <a class="hackney-button" (click)="requestAPIKey()" type="button"> Request API-Key</a>
        </div>
      </div>
    </div>




  </div>