<h2 class="govuk-heading-l">Forgotten password</h2>
  <p class="govuk-body">Please enter your username (registered email address) in the space provided. Due to security restrictions, you can only request a password reset once in any 24 hour period.</p>
  <form class="form js-form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <div class="govuk-form-group">
      <label class="govuk-label" for="emailaddress" id="emailaddress-label">Email address</label>                
      <input  type="text"
              id="emailaddress"           
              name="emailaddress"              
              value=""                         
              class="govuk-input"
              formControlName="emailAddress"                        
              aria-labelledby="emailaddress-label"          
              aria-required="true"/>               
      <p class="govuk-body" id="forgotPasswordDisplay"></p>

                   
      <a routerLink="/login" class="govuk-back-link">Login to your account</a>
    </div>

    <div class="govuk-form-group">
        <button id="submitButton" class="govuk-button" type="submit">Retrieve password</button>
    </div>
  </form>