<h2 class="heading-large">Forgotten password</h2>
  <p class="paragraph-text">Please enter your username (registered email address) in the space provided. Due to security restrictions, you can only request a password reset once in any 24 hour period.</p>
  <form class="form js-form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <div class="govuk-form-group">
      <label class="govuk-label" for="emailaddress" id="emailaddress-label">Email address</label>                
      <input  type="text"
              id="emailaddress"           
              name="emailaddress"              
              value=""                         
              [ngClass]="{'input': true, 'input--error': f.emailAddress.touched && f.emailAddress.invalid}"            
              
              formControlName="emailAddress"                        
              aria-labelledby="emailaddress-label"          
              aria-required="true"/>               
              
              <div *ngIf="f.emailAddress.touched && f.emailAddress.invalid" class="error-message">  
                Email address is required
              </div>    

                   
      <a routerLink="/login" class="govuk-back-link">Login to your account</a>
    </div>

    <div class="govuk-form-group">
        <button id="submitButton" class="govuk-button" type="submit" [disabled]="!forgotPasswordForm.valid">Retrieve password</button>
    </div>
  </form>