<app-header></app-header>
<app-phase-banner></app-phase-banner>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <app-side-navbar></app-side-navbar>
        </div> 
        
        <div class="govuk-grid-column-three-quarters">
            <router-outlet></router-outlet>
        </div> 
      </div>  
    </div>
  </main> 
</div>

<app-footer></app-footer>


