@import "../assets/sass/abstracts/variables";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    padding: $container-padding;

    max-width: 960px;

    font-family: "nta", Arial, sans-serif;
}