<app-column-layout [show]="true">
    <h2 class="govuk-heading-l">Our standards - API checklist</h2>
    <div class="govuk-body">
      <ul class="govuk-list">
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Open Source</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Test Driven</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Endpoint Documentation</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Centralised logging</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Centralised application monitoring</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Centralised uptime monitoring</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Centralised exception monitoring</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Authentication</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Deployment pipeline to production</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Automated tests</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />12 Factor Conformant / Platform Agnostic</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Cloud hosted</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Automated linting (if available)</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Automated vulnerability testing (if available)</li>
        <li class="govuk-body"><img src="/assets/images/green-checkmark.png" alt="green checkmark" />Documentation</li>
      </ul>
    </div>
</app-column-layout>

