@import '../../../../styles.scss';

.stripes {

    position: relative;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
    }
    // Dark stripe.
    &:before {
        background: $hackney-stripes-dark-colour;
        height: $dark-stripe-width;
    }

    // Light stripe.
    &:after {
        background: $hackney-stripes-light-colour;
        height: $light-stripe-width;
    }

    border-top: $middle-stripe-style;

        &:before,
        &:after {
            left: 0;
            top: 0;
            width: 100%;
        }

        // Dark stripe.
        &:before {
            transform: translate3d(0, $hackney-stripe-spacing, 1px);
        }

        // Light stripe.
        &:after {
            transform: translate3d(0, -($middle-stripe-width + $hackney-stripe-spacing), 1px);
        }
}

.footer {
    background-color: $hackney-black;
    height: rem(200);

    &__items {
        display: flex;
        justify-content: space-between;

        border-bottom: 1px solid transparent;


        &-link:link,
        &-link:visited {
            text-decoration: none;
            color: $hackney-white;
            font-size: rem(18);
            padding: .3rem .5rem;
            
        }

        &-link:hover {
            background-color: $hackney-yellow;
            color: $hackney-black;
        }
    }


}

@media (max-width: 780px) {
    
    .footer {
        height: rem(240);
    }
    
    .footer__items {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & a {
            margin: rem(6.4) 0;
        }
    }
}