@import "../../../../variables";

.sidenav {
    z-index: 1000;
    border-right: 1px solid $hackney-border-color;
  
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: auto;
        height: 100%; /* Full height */
        overflow: auto; /* Enable scrolling if the sidenav has too much content */

        li {
            line-height: 40px;    
        }

        a {
            text-decoration: none;
            display: block;
            font-size: 18px;
            color: $hackney-black;
            padding-left: 10px;
            position: relative;
        }
    }

}


.sidenav ul a:hover,
.sidenav ul a:focus,
.sidenav ul a:active {
  background-color: $hackney-green;
  color: $hackney-white;
}

.sidenav ul a:after {
  content: "\203A";
  position: absolute;
  top: 0;
  right: 10px;
  float: right;
}

.sidenav li > ul a {
  padding-left: 20px;
  font-size: 1rem;
  font-size: 16px;
}