<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-custom-class" scope="col">Email</th>
        <th class="govuk-table__header app-custom-class" scope="col">API ID</th>
        <th class="govuk-table__header app-custom-class" scope="col">Stage</th>
        <th class="govuk-table__header app-custom-class" scope="col"></th>
      </tr>
    </thead>
    
    <tbody class="govuk-table__body">
      
      <tr *ngFor="let tokenObject of tokenObjects"  class="govuk-table__row">
        <td data-label="Email" class="govuk-table__cell" scope="row">{{tokenObject.email}}</td>
        <td data-label="API ID" class="govuk-table__cell">{{tokenObject.apiID}}</td>
        <td data-label="Stage" class="govuk-table__cell">{{tokenObject.stage}}</td>
        <td class="govuk-table__cell govuk-table__cell--no-header">
            <a class="govuk-button" (click)="verifyUser(tokenObject)" type="button">Verify</a>
        </td>
      </tr>
    </tbody>
  </table>
