<div class="admin__box">
  <div class="admin__header">
      <div class="admin__header__item">
        <h3 class="heading-medium">Email</h3>
      </div>
      <div class="admin__header__item">
        <h3 class="heading-medium">API ID</h3>
      </div>
  </div>

  <div class="admin__body">
    <div class="admin__row" *ngIf="!tokenObjects || tokenObjects.length < 1">
        <p> There are no API keys to verify</p>
    </div>

    <div class="admin__row">
        <div *ngFor="let tokenObject of tokenObjects" class="admin__row__item">
            <p class="paragraph-text admin__row__email" scope="row">{{tokenObject.email}}</p>
            <p class="paragraph-text admin__row__api-id">{{tokenObject.apiID}}</p>
            <div class="admin__row__button">
              <a class="hackney-button" (click)="verifyUser(tokenObject)" type="button">Verify</a>
            </div>
          </div>
    </div>
  </div>
</div>
