@import "../../../../assets/sass/abstracts/variables";

@import "../../../../assets/sass/utilities/hackney-stripes";
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 830px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header {
  @include hackney-stripes--bottom;

  background: $page-header-bg-colour;
  color: $page-header-text-colour;
  width: 100%;

  p {
    color: inherit;
  }

  &__hackney-logo {
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  &__hackney-image {
    height: 3.5rem;
    width: auto;

    @media (min-width: 830px) {
      height: 4.5rem;
    }
  }

  //////////////////////////////////////
  // NAVBAR

  &__navbar {
    padding-bottom: 1rem;
    width: 100%;

    @media (min-width: 830px) { 
      margin-top: 1.6rem;
      padding: 0;
      width: auto;
    }

    &-list {
      width: 100%;
      list-style: none;

      display: flex;
      justify-content: space-between;

      color: $hackney-white;
      font-size: 1.8rem;
    }

    &-list li > a {
      text-decoration: none;
      color: inherit;

      padding: 1rem;
      cursor: pointer;
      border: 3px solid transparent;

      transition: all 0.2s;
    }

    &-btn-login {
      color: inherit;
      transition: all 0.2s;
      padding: 0.5rem;
    }

    &-list li a:hover,
    &-btn-login:hover {
      border: 3px solid $hackney-yellow;
      box-sizing: content-box;
    }

    &-list li:last-child {
      flex-basis: 30%;
      text-align: right;
    }
  }
}

///////////////////////////////////////////////
//// DROPDOWN

.dropdown {
}

.dropdown__content {
  display: none;
  list-style: none;
  text-decoration: none;
  text-align: right;
}

.dropdown__content--active {
  display: flex;
  flex-direction: column;
  color: $hackney-white;
  background: $hackney-black;
  margin: 1rem 0;

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}


.dropdown__content__item {
  display: inline-block;
  padding: .5 .7rem;
}

.dropdown__arrow {
  display: inline-block;
  transition: all .2s;
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin-left: 1rem;
}

.dropdown__arrow--rotate {
  transform: rotate(90deg);
}

@media (max-width: 1100px) {
  .header__navbar-list {

    flex-wrap: wrap;

    & li:last-child {
      flex-basis: auto;
      text-align: left;
    }
    
  }
}

@media (max-width: 830px) {
  .header__navbar-list {

    flex-direction: column;
    margin-left: -1rem;

   & li {
    
    margin: 1rem 0;
   }
    
  }

  .dropdown__content--active {
    align-items: flex-start;
  }
}