<header class="header" role="banner" data-module="header">
    <div class="container">  
      <div class="header__hackney-logo">    
        <img class="header__hackney-image" src="/assets/images/hackney.png" alt="Hackney">
      </div>

      <nav class="header__navbar">
        <ul class="header__navbar-list">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/api-list">APIs</a></li>
          <li><a routerLink="/documentation">Documentation</a></li>
          <!-- <li><a routerLink="/api-checklist">API Checklist</a></li> -->
          <li><a routerLink="/api-guide">API Guide</a></li>
          <li class="dropdown">
            <a class="header__navbar-btn-login" (click)="dropDown = !dropDown;">
            {{ userName === null ? 'Sign In' : userName }} 
          </a>
            <ul class="dropdown__content" [ngClass]="{'dropdown__content--active': dropDown}">
              <li><a class="dropdown__content__item" routerLink="/login">
                Login
              </a></li>
              <li><a class="dropdown__content__item" routerLink="/register">
                Register
              </a></li>
              <li><a class="dropdown__content__item" routerLink="/key-manager">
                Token Manager
              </a></li>
              <li><a class="dropdown__content__item" routerLink="admin">
                Admin
              </a></li>
              <li><a class="dropdown__content__item" routerLink="/logout">
                Logout
              </a></li>
          </ul>
        </li>
        </ul>
      </nav>

      

        <!-- The Add Note form. -->
        <!-- <div class="dropdown">
        
          <div class="page__header__column page__header__column--title">
              <a class="govuk-header__link govuk-header__link--service-name ">
                {{ userName === null ? 'Sign In' : userName }}
                <i class="fa fa-caret-down"></i>  
              </a>
          </div>

          
          </div>  -->
    </div>
</header>