@import '../../../../styles.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 830px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header {
  @include hackney-stripes--bottom;

  background: $page-header-bg-colour;
  color: $page-header-text-colour;
  width: 100%;

  p {
    color: inherit;
  }

  &__hackney-logo {
    display: inline-block;
    align-self: flex-start;
    margin-bottom: rem(10);
  }

  &__hackney-image {
    height: rem(35);
    width: auto;

    @media (min-width: 830px) {
      height: rem(45);
    }
  }

  //////////////////////////////////////
  // NAVBAR

  &__navbar {
    padding-bottom: rem(10);
    width: 100%;

    @media (min-width: 830px) { 
      margin-top: rem(16);
      padding: 0;
      width: auto;
    }

    &-list {
      width: 100%;
      list-style: none;

      display: flex;
      justify-content: space-between;

      color: $hackney-white;
      font-size: rem(18);
    }

    &-list li > a {
      text-decoration: none;
      color: inherit;

      padding: rem(10);
      cursor: pointer;
      border: 3px solid transparent;

      transition: all 0.2s;
    }

    &-btn-login {
      color: inherit;
      transition: all 0.2s;
      padding: rem(5);
    }

    &-list li a:hover,
    &-btn-login:hover {
      border: 3px solid $hackney-yellow;
      box-sizing: content-box;
    }

    &-list li:last-child {
      flex-basis: 30%;
      text-align: right;
    }
  }
}

///////////////////////////////////////////////
//// DROPDOWN

.dropdown {
}

.dropdown__content {
  display: none;
  list-style: none;
  text-decoration: none;
  text-align: right;
}

.dropdown__content--active {
  display: flex;
  flex-direction: column;
  color: $hackney-white;
  background: $hackney-black;
  margin: rem(10) 0;

  &:not(:last-child) {
    margin-bottom: rem(25);
  }
}


.dropdown__content__item {
  display: inline-block;
  padding: rem(5) rem(7);
}

.dropdown__arrow {
  display: inline-block;
  transition: all .2s;
  font-size: rem(22);
  line-height: rem(22);
  margin-left: rem(10);
}

.dropdown__arrow--rotate {
  transform: rotate(90deg);
}

@media (max-width: 1100px) {
  .header__navbar-list {

    flex-wrap: wrap;

    & li:last-child {
      flex-basis: auto;
      text-align: left;
    }
    
  }
}

@media (max-width: 830px) {
  .header__navbar-list {

    flex-direction: column;
    margin-left: rem(-8);

   & li {
    
    margin: rem(10) 0;
   }
    
  }

  .dropdown__content--active {
    align-items: flex-start;
  }
}