<header class="header" role="banner" data-module="header">
    <div class="container">  
      <div class="header__hackney-logo">    
        <img class="header__hackney-image" src="/assets/images/hackney.png" alt="Hackney">
      </div>

      <nav class="header__navbar">
        <ul class="header__navbar-list">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/api-list">APIs</a></li>
          <li><a routerLink="/documentation">Documentation</a></li>
          <!-- <li><a routerLink="/api-checklist">API Checklist</a></li> -->
          <li><a routerLink="/api-guide">API Guide</a></li>
          <li><a class="header__navbar-btn-login">
            {{ userName === null ? 'Sign In' : userName }} 
          </a></li>
        </ul>
      </nav>

      

        <!-- The Add Note form. -->
        <!-- <div class="dropdown">
        
          <div class="page__header__column page__header__column--title">
              <a class="govuk-header__link govuk-header__link--service-name ">
                {{ userName === null ? 'Sign In' : userName }}
                <i class="fa fa-caret-down"></i>  
              </a>
          </div>

            <div class="dropdown-content">
                <a class="govuk-header__link govuk-body-s" routerLink="/login">
                  Login
                </a>
                <a class="govuk-header__link govuk-body-s" routerLink="/register">
                  Register
                </a>
                <a class="govuk-header__link govuk-body-s" routerLink="/key-manager">
                  Token Manager
                </a>
                <a class="govuk-header__link govuk-body-s" routerLink="admin">
                  Admin
                </a>
                <a class="govuk-header__link govuk-body-s" routerLink="/logout">
                  Logout
                </a>
            </div>
          </div>  -->
    </div>
</header>