@import '../../../../styles.scss';

.content__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 100%;

    &-text {
        @include body-text;
    }

    &-list {
        list-style-type: none;
        margin-bottom: 2.5rem;

        &__item {

        }

        &__item:not(:last-child) {
            margin-bottom: .7rem;
        }
    }

    &-img-1 {
        width: 100%;
        height: auto;
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

.content__header--big {
    font-size: $heading--big;
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $hackney-black;
    width: 100%;
}

.content__header--medium {
    font-size: $heading--medium;
    margin-bottom: 1.5rem;
}
