@import '../../../../styles.scss';

.content__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 100%;

    &-text {
        @include body-text;
    }

    &-list {
        padding-left: rem(20);
        margin-bottom: rem(25);

        &__item {

        }

        &__item:not(:last-child) {
            margin-bottom: rem(7);
        }
    }

    &-img-1, 
    &-img-2 {
        width: 100%;
        height: auto;
        display: inline-block;
        margin-top: rem(20);
        margin-bottom: rem(40);
    }
}

@media screen and (max-width: 760px) {
    .content__body__heading__span {
        display: block;
    }
}


