$hackney-black: #000;
$hackney-white: #FFF;
$hackney-green: #00694F;
$hackney-lines-dark: #00664F;
$hackney-lines-mid: #00B140;
$hackney-lines-light: #84BD00;
$hackney-border-color: #064579;
$page-header-bg-colour: $hackney-black;
$page-header-text-colour: $hackney-white;
$page-header-padding: 2rem !default;
$swagger-method-delete: 	#df3034;
$swagger-method-put-patch: #f47738;
$swagger-method-post: #006435;
$swagger-method-get: #005ea5;
$color-govuk-light-grey: #DEE0E2;
