<div class="govuk-grid-column-one-quarter">         
  <app-side-navbar></app-side-navbar>
</div> 
<div class="govuk-grid-column-three-quarters">          
    <div *ngFor="let api of apis" class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">
                  <a class="govuk-link--no-visited-state govuk-link" routerLink="/api/{{ api.id }}">{{ api.title }}</a>
                </h3>
                <p class="govuk-body">{{ api.summary }}</p>
              </div>
              <div class="govuk-grid-column-one-third align-right">
                  <strong class="govuk-tag govuk-!-margin-top-2 govuk-tag--{{isApiCompliant(api) ? 'negative' : 'positive' }}"> {{isApiCompliant(api) ? 'Non Compliant' : 'Compliant' }} </strong>
                  <strong class="govuk-tag govuk-!-margin-top-2 govuk-tag--{{isHealthy(api, staging) ? 'positive' : 'negative' }}"> {{isHealthy(api, staging) ? 'S: Healthy' : 'S: Not Healthy' }} </strong>
                  <strong class="govuk-tag govuk-!-margin-top-2 govuk-tag--{{isHealthy(api, production) ? 'positive' : 'negative' }}"> {{isHealthy(api, production) ? 'P: Healthy' : 'P: Not Healthy' }} </strong>
              </div>
            </div>
        </div>
      </div>
</div> 

