<div *ngFor="let api of apis" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">
            <a routerLink="/api/{{ api.id }}">{{ api.title }}</a>
          </h3>
          <p class="govuk-body">{{ api.summary }}</p>
        </div>
        <div class="govuk-grid-column-one-third align-right">
          <strong class="govuk-tag govuk-tag--{{checkIfApiIsCompliant(api) ? 'negative' : 'positive' }}"> {{checkIfApiIsCompliant(api) ? 'Non Compliant' : 'Compliant' }} </strong>
        </div>
      </div>
  </div>
</div>