@import "../../../../styles.scss";

.api__item__container {

  padding: rem(20);
  margin-bottom: rem(30);
  border-bottom: 2px solid $hackney-black;
}

.api__item__box {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: rem(30);

  &__title {
    
  }

  &__heading--link {
    cursor: pointer;
    text-decoration: none;
    color: $hackney-blue;

    &:hover {
      text-decoration: underline;
    }
  }

  &__compliancy {
    display: flex;

    & p:first-child {
      display: inline-block;
      margin-right: rem(5);
    }
  }
}

.api__item__summary {
  &__summary {

  }
    
    &__text {
      
    }
}
    

@media screen and (max-width: 1100px) {
  .api__item__box {
    flex-direction: column;
  }
}