@import "../../../../styles.scss";

.api__item__container {

  padding: 2rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid $hackney-black;
}

.api__item__box {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 3rem;

  &__title {

  }

  &__compliancy {
    display: flex;
  }
}

.api__item__summary {
  &__summary {

  }
    
    &__text {
      
    }
}
    

@media screen and (max-width: 1100px) {
  .api__item__box {
    flex-direction: column;
  }
}