<div class="api__item__container">
  <div class="api__item__box">
    <div class="api__item__box__title">
      <h3 class="api__item__box__heading heading-medium">
        <a class="api__item__box__heading--link" routerLink="/api/{{ api.id }}">{{ api.title }}</a>
      </h3>
    </div>
    <div class="api__item__box__compliancy">
        <p><strong class="hackney-tag hackney-tag--status">
          {{ api?.internal ? "Internal" : "External" }}
        </strong></p>
        <p><strong
          class="hackney-tag  hackney-tag--{{
            isApiCompliant(api) ? 'negative' : 'positive'
          }}"
        >
          {{ isApiCompliant(api) ? "Non Compliant" : "Compliant" }}
        </strong></p>
      </div>
  </div>
  <div class="api__item__summary">
      <p class="api__item__summary__text paragraph-text">{{ api.summary }}</p>
    </div>
</div>
